$main-color:          #7dcbcf;
$main-color-dark:     #4aa2a5;
$second-color:        #1f2455;
$second-color-light:  #6a4099;
$warning-color:       #fdc05d;

$blue-light:          #2092bf;

$gray-dark:           #2a2a2a;

$text-color:          $gray-dark;

$font-family:         'Montserrat', sans-serif;
$font-size:           18px;
$font-size-h1:        72px;
$line-height:         1.4;

$screen-xs:           479px;
$screen-sm:           767px;
$screen-md:           992px;
$screen-lg:           1279px;
$screen-xl:           1420px;
$screen-xxl:          1620px;
